{% extends 'base.html.twig' %}

{% block body %}
    <h1>Обратная связь</h1>
    <p>lorem*10</p>
    <p>username: {{ userName }}</p>
    <p>password: {{ password }}</p>
    {# comments #}
{% endblock %}

{% block title %}
    Обратная связь
{% endblock %}

