{% extends 'base.html.twig' %}


{% block body %}
    <h1>Goods</h1>

    {% for product in products %}
        <p><a href="{{ path('product', {'id': product.id}) }}">{{ product.name }}</a>
                - {{ product.price / 100 }}
        </p>
    {% endfor %}
{% endblock %}
