{% extends 'base.html.twig' %}

{% block title %}Обратная связь{% endblock %}

{% block body %}
    <h1>Обратная связь</h1>

    {{ form_start(form, {'attr': {'novalidate': true}}) }}
    {{ form_widget(form) }}
    <div class="form-group row">
        <div class="col-sm-10 offset-sm-2">
        <button type="submit" class="btn btn-primary">Отправить</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
